<!DOCTYPE html>
<html>
    <head>
        <title>Prediction</title>
        <link rel="stylesheet" type="text/css" href="static/predictionpage.css">
    </head>
    <body>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
        <div id='title'>
          <div>
             Your home is worth: ${{ prediction }}
          </div>
          <div class="buttons">
            <a href="/housing-form"><button class="pulse">Do another Prediction</button></a>
        </div>
        </div>                
    </body>
</html>