<!DOCTYPE html>
<html>
    <head>
        <title>Real Estate Calculator</title>
        <link rel="stylesheet" type="text/css" href="static/semantics.css">
    </head>
    <body>
        <ul>
            <li><a class="active" href="/">Housing Project</a></li>
            <li><a href="/housing-form">Housing Predictor</a></li>
        </ul>
        <main>
            <div class="container">
                <div class="content">
                    <h1>Snapshot Summary</h1>
                    <p>For this project I build a powerful yet simple model that will predict the price of a home, based on a set input of features. The original dataset had about eighty features but for simplicities sake I have reduced the number of features down to five. I took careful consideration selecting which features to implement, using many different techniques to bring the model to an acceptable performance while cutting out much of the original dataset (I can't imagine anyone would want to sit here and input 80 different features). The resulting accuracy is nearly as good as my original model which happened to place within the top 13% of all Kaggle submissions. So please try it out for yourself.</p>
                    <p><a href="/housing-form">Click here to see the model in action!</a></p>
                </div>
                <div>
                    <h1>More Infomation</h1>
                    <p>From this point on I'm gonna be getting into the nitty gritty details of this project, this is in no way required to use the model, just some extra information for those who are curious.</p>
                </div>
                <div>
                    <h2></h2>
                </div>
            </div>
        </main>
    </body>
</html>
